.container{
    height: 90vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding:10px;
    .selfMessage{
        background: rgb(18,183,255);
        border-radius:10px;
        padding:5px 20px;
        align-self: flex-end;
        margin-bottom:10px;
    }
    .unSelfMessage{
        background: rgb(229,222,176);
        border-radius:10px;
        padding:5px 20px; 
        align-self: flex-start;
        margin-bottom:10px;
    }
}